@import 'src/scss/mixins.scss';

.accountant-list {
  padding: $space*3 0;

  &__grid {
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: $space*1.5;

    @include for-size(tablet-up) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include for-size(desktop-up) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__button {
    display: block;
    margin: $space*2 auto 0;
  }
}