$space:                       16px;

$screen-tablet:           767px;
$screen-desktop:          1279px;

// -------------------- COLORS ------------------------

$black:                                 #000000;
$white:                                 #fafafa;
$accent-color:                          #1e88e5;

$gray50:                                #E4E6E8;
$gray800:                               #54585C;

$blue50:                                #E3F2FD;
$blue-75:                               #CEE7FC;
$blue600:                               #1E88E5;

